body{
	background-color: #232323;
	margin: 0;
	font-family: Avenir;
}
.container{
	max-width: 600px;
    margin: 0 auto; 
}

.squares{
	width: 30%;
	background-color: red;
	padding-top: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 30px;
    
}
h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;

}

#heading{
	font-size: 200%;
}

#buttons{
	background-color: white;
	text-align: center;
	height: 30px;
    margin-bottom: 20px;
}

.selected{
	color: white;
	background: steelblue;
}
button{
	background: none;
	border: none;
	font-family: "Avenir";
	height: 100%;
	font-weight: 700;
	font-size: inherit;
	letter-spacing: 1px;
	color: steelblue;
	text-transform: uppercase;
	transition: all 0.5s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#message{
	display: inline-block;
	width: 20%;
	font-size: inherit;
	font-weight: 1000;
}